
.div_captcha div
{
background-color:rgb(249,243,136);
border:2px rgb(180,180,180) solid;
box-shadow:1px 1px 20px rgb(37,192,84) inset;

height:40px;
margin-top:5px;
margin-bottom:5px;
/*margin-right:10px;
background-color:rgb(200,200,200);*/
display:table;
float:left;
}

.div_captcha canvas
{
width:30px;
height:30px;
/*margin:5px;*/
}

.div_captcha div div
{
/*width:40px-block;*/
}

.div_captcha img
{
margin-top:5px;
padding:3px;
border:2px rgb(200,200,200) solid;
background-color:rgb(216,255,206);
float:right;
}
.div_captcha  input[type='text']
{
/*height:40px;
font-size:1.4em;
width:250px;*/
margin-top:5px;
margin-bottom:5px;
clear:both;
}


.div_captcha #messages_captcha
{
/*font-size:1.2em;*/
}